streamlit as st
gspread
pandas as pd
hashlib
time
datetime
plotly.express as px
qrcode
io
smtplib
google.oauth2.service_account import Credentials
googleapiclient.discovery import build
googleapiclient.http import MediaIoBaseUpload
fpdf import FPDF
arabic_reshaper import reshape
bidi.algorithm import get_display
email.mime.text import MIMEText
email.mime.multipart import MIMEMultipart
