streamlit
gspread
pandas
google-auth
google-auth-oauthlib
google-auth-httplib2
xlsxwriter
oauth2client
fpdf2
arabic-reshaper
python-bidi
qrcode
plotly
google-api-python-client
streamlit==1.38.0
xlsxwriter==3.2.9
